*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container{
  width: 1000px;
  height: 500px;
  background-color: #4F00FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  border-radius: 9px;
}

button{
  padding: 10px;
  background-color: #0004FF;
  border: solid 4px #05a8ff;
  border-radius: 9px;
  color: white;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}